@page
@model AdminModel
@{
    ViewData["Title"] = "Home page";
}

@if (TempData["login"] != null || Model.FirstName == null)
{
    <div class="modal-container d-flex justify-content-center align-items-center login-row">
    <div class="card text-dark p-4 modal-pop">
        <p>You need to login to select days</p>
        <a class="btn btn-success" asp-page="/Login">login</a>
        <a class="nav-link text-primary mt-3" asp-page="/Index"><i class="bi bi-arrow-left"></i>Home</a>
    </div>
</div>
}


@if (@Model.WeekLimits != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
    toastr.error("@Model.WeekLimits");
</script>
}

@if (TempData["submit"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
    toastr.success('@TempData["submit"]');
</script>
}
else if (TempData["reset"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
    toastr.success('@TempData["reset"]');
</script>
}
else if (TempData["message"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
    toastr.error('@TempData["message"]');
</script>
}

<div class="waiter-container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <form method="post">
                <button asp-page-handler="prev" class="btn-none"><i
                        class="bi bi-arrow-left-circle-fill text-light"></i></button>
            </form>
            <div class="w-100">
                <h3>@Model.WaiterAccountName's account</h3>
                <p class="lead">Update @Model.WaiterAccountName's selected working days</p>
                <p class="text-center bg-light text-dark rounded">@DateTime.Now.ToString("MMMM") @DateTime.Now.Year -
                    Week @Model.Week</p>

                <form method="post">
                    <input type="hidden" name="WaiterFirstName" value="@Model.FirstName">
                    <table class="table table-borderless bg-light rounded bg-primary">
                        <thead>
                            <tr>
                                <th class=""><i class="bi bi-check2-square"></i></th>
                                <th class=""><i class="bi bi-calendar-event-fill"></th>
                                <th class="status-th">Status</th>
                                <th class="status-th">Waiters</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var day in Model.weekdays)
                            {

                                <tr class="name-color border-top">
                                    @if (Model.CurrentWorkingDates.Contains(day.Key.ToString()))
                                    {
                                        <td>
                                            <input id="@day" type="checkbox" name="SelectedDays" value="@day.Key" checked>
                                        </td>
                                    }
                                    else if (Model.WeekDayStatus.ContainsKey(day.Key.ToString()) &&
                                    Model.WeekDayStatus[day.Key.ToString()] >= 3)
                                    {
                                        <td>
                                            <input id="@day" type="checkbox" name="SelectedDays" value="@day.Key" disabled>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <input id="@day" type="checkbox" name="SelectedDays" value="@day.Key">
                                        </td>
                                    }

                                    <td>
                                        <li class="bold">@day.Value.ToString()</li>
                                        <li class="status-th">@day.Key</li>
                                    </td>

                                    @if (Model.WeekDayStatus.ContainsKey(day.Key.ToString()) &&
                                   Model.WeekDayStatus[day.Key.ToString()] >= 3)
                                    {
                                        <td>
                                            <label><i class="bi bi-x-circle-fill text-danger"></i></label>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <label><i class="bi bi-circle-fill text-success"></i></label>
                                        </td>
                                    }

                                    @foreach (var group in Model.Schedule)
                                    {
                                        if (day.Key.ToString() == group.Key)
                                        {
                                            <td>

                                                @foreach (var waiter in group)
                                                {
                                                    <li class="font-300">@waiter.FirstName</li>
                                                }

                                            </td>
                                        }
                                    }
                                </tr>

                            }

                        </tbody>
                    </table>

                    @if (Model.CurrentWorkingDates.Count() > 0)
                    {
                        <input type="submit" class="btn btn-primary" value="Update">
                        <input asp-page-handler="reset" type="submit" class="btn btn-danger" value="Reset">
                    }
                    else
                    {
                        <input type="submit" class="btn btn-success">
                    }


                </form>
            </div>
            <form method="post">
                <button asp-page-handler="next" class="btn-none"><i
                        class="bi bi-arrow-right-circle-fill text-light"></i></button>
            </form>
        </div>
        <div class="col-12 col-md-3 mt-4">
            @if (Model.CurrentWorkingDates.Count() > 0)
            {
                <table class="table" style="background-color: #grey;color: #fff;">
                    <tbody>
                        <tr>
                            <th>SELECTED DAYS FOR WEEK @Model.Week</th>
                        </tr>
                        @foreach (var days in Model.CurrentWorkingDates)
                        {
                            @if (Model.weekdays.ContainsKey(@DateOnly.FromDateTime(DateTime.Parse(days))))
                            {
                                <tr>
                                    <td>
                                        @DateTime.Parse(days).DayOfWeek
                                        @days
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
