@page
@model ScheduleModel
@{
    ViewData["Title"] = "Schedule page";
}

@* Modal asking the user to login *@
@if (TempData["login"] != null)
{
    <div class="modal-container d-flex justify-content-center align-items-center login-row">
        <div class="card text-dark p-4 modal-pop">
            <p>You need to login as an admin</p>
            <a class="btn btn-success" asp-page="/Login">login</a>
            <a class="nav-link text-primary mt-3" asp-page="/Index"><i class="bi bi-arrow-left"></i> Home</a>
        </div>
    </div>
}

@* Pop-up msg for a successful schedule clearance*@
@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>
}

@if (@Model.WeekLimits != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error("@Model.WeekLimits");
    </script>
}

<div class="row d-flex justify-content-center">

    <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">

        <form method="post">
            <button asp-page-handler="prev" class="btn-none"><i class="bi bi-arrow-left-circle-fill text-light"></i></button>
        </form>

        <div class="w-100 d-flex justify-content-center align-items-center flex-column">
            <h1 class="display-4 text-center status-th">Schedule</h1>
            <p class="text-center lead">Weekly Waiter's Shifts</p>
            <p class="text-center bg-light text-dark rounded w-100">@DateTime.Now.ToString("MMMM") @DateTime.Now.Year - Week @Model.Week</p>

            @* Select the table or board view*@
            @* <div class="dropdown mb-3 z-1">
                <button class="btn btn-secondary dropdown-toggle view-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    View
                </button>

                <form method="post">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" asp-page-handler="Table">Table</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" asp-page-handler="Board">Board</button>
                    </div>
                </form>
            </div> *@

            @if(Model.View == "Board")
            {
                <table class="table w-50 table-bordered bg-light rounded">
                    <thead>
                        <tr class="text-center">
                            <th style="width: 50%;"><i class="bi bi-calendar-event-fill"></i></th>
                            <th style="width: 50%;"><i class="bi bi-person-badge-fill"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var day in Model.weekdays)
                        {
                            <tr class="border-top">
                                <td class="bg-light text-center">
                                    <li class="status-th bold">@day.Value</li>
                                    <li>@day.Key</li>
                                </td>
                                @foreach (var group in Model.Schedule)
                                {
                                    if (@group.Key == day.Key.ToString())
                                    {
                                        <td class="text-center">
                                        @foreach (var waiter in group)
                                        {
                                            <form asp-page-handler="account" method="post">
                                                <button class="btn-waiter name-color">@waiter.FirstName</button>
                                                <input type="hidden" name="name" value="@waiter.FirstName">
                                            </form>
                                        }
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <table class="table table-borderless bg-light rounded">
                    <thead>
                        <tr class="text-center">
                            <th style="width: 25%;"><i class="bi bi-calendar-event-fill"></i></th>
                            <th style="width: 25%;"><i class="bi bi-person-badge-fill"></i></th>
                            <th style="width: 25%;"><i class="bi bi-person-badge-fill"></i></th>
                            <th style="width: 25%;"><i class="bi bi-person-badge-fill"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var day in Model.weekdays)
                        {
                            <tr class="border-top">
                                <td class="bg-light text-center">
                                    <li class="status-th bold">@day.Value</li>
                                    <li>@day.Key</li>
                                </td>
                                @foreach (var group in Model.Schedule)
                                {
                                    if (@group.Key == day.Key.ToString())
                                    {
                                        @foreach (var waiter in group)
                                        {
                                            <td class="text-center">
                                                <form asp-page-handler="account" method="post">
                                                    <button class="btn-waiter name-color">@waiter.FirstName</button>
                                                    <input type="hidden" name="name" value="@waiter.FirstName">
                                                </form>
                                            </td>
                                        }
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div class="d-flex">
                <form asp-page-handler="ClearWeek" method="post"
                    onclick="return confirm('Are you sure you want to clear this week schedule')">
                    <button class="btn btn-danger">Clear Week</button>
                </form>
                <div>&nbsp;</div>
                <form asp-page-handler="Clear" method="post"
                    onclick="return confirm('Are you sure you want to clear schedule')">
                    <button class="btn btn-danger">Clear Schedule</button>
                </form>
            </div>

        </div>

        <form method="post">
            <button asp-page-handler="next" class="btn-none"><i class="bi bi-arrow-right-circle-fill text-light"></i></button>
        </form>
    </div>
</div>


