@page
@model ScheduleModel
@{
    ViewData["Title"] = "Schedule page";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav w-100 justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link text-dark">Admin</a>
                    </li>

                    <li class="nav-item">
                        @if (Model.Waiter.FirstName != null)
                        {
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Logout</a>
                        }
                        else
                        {
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

@if (TempData["login"] != null)
{
    <div class="modal-container d-flex justify-content-center align-items-center login-row">
        <div class="card text-dark p-4">
            You need to "login" as an Admin
            <a class="btn btn-primary" asp-page="/Login">login</a>
            <a asp-page="/Index">Home</a>
        </div>
    </div>
}

<div class="row d-flex justify-content-center">

    <div class="col-12 col-md-8">
        <h1 class="display-4 text-center">Schedule</h1>
        <p class="text-center">Weekly Waiter's Shifts</p>

        @if (TempData["success"] != null)
        {
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
                toastr.success('@TempData["success"]');
            </script>
        }

        <table class="table table-borderless bg-light rounded">
            <thead>
                <tr class="text-center">
                    <th style="width: 25%;"><i class="bi bi-calendar-event-fill"></i></th>
                    <th style="width: 25%;"><i class="bi bi-person-badge-fill"></i></th>
                    <th style="width: 25%;"><i class="bi bi-person-badge-fill"></i></th>
                    <th style="width: 25%;"><i class="bi bi-person-badge-fill"></i></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var day in Model.weekdays)
                {
                    <tr class="border-top">
                        <td>
                            <h5>@day</h5>
                        </td>
                        @foreach (var group in Model.Schedule)
                        {
                            if (@group.Key == day)
                            {
                                @foreach (var waiter in group)
                                {
                                    <td class="text-center">
                                        <form asp-page-handler="account" method="post">
                                            <button class="btn-waiter name-color">@waiter.FirstName</button>
                                            <input type="hidden" name="name" value="@waiter.FirstName">
                                        </form>
                                    </td>
                                }
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
        <form asp-page-handler="clear" method="post"
            onclick="return confirm('Are you sure you want to clear schedule')">
            <button class="btn btn-danger">Clear Schedule</button>
        </form>
    </div>
</div>
